.contact {
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.contactlinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
}

.icons {
    border: 1px solid red;
}

.link {
    border: 1px solid red;
}


@media screen and (max-width: 760px) {
    .contactlinks {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 150px);
    }
}