.project {
    border: 1px solid #050C11;
    position: relative;
    background-color: #CA8000;
    box-sizing: border-box;
}

.project::before {
    content: "";
    background-image: url('../../public/kerbal.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transition: opacity 0.1s ease-in-out;
}

.project:hover::before {
    opacity: 0.5;
}

.info {
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    position: relative;
    z-index: 1;
    color: white;
    opacity: 0;
    border: 2px solid #050C11;
    transition: opacity 0.1s ease-in-out;
}

.info:hover {
    border: 2px solid #CA8000;    
    opacity: 1;
}



.info::before {

}