.resume {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 0;
    width: fit-content;
}

.resumeBg {
    background-color: rgb(235, 235, 235);
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.resumegrid {
    height: max-content;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
}

.resumecol {
    height: max-content;
    border: 1px solid black;
}

.buttonTest {
    pointer-events: auto;
    position: relative;
}

.resumecol span {
    height: fit-content;
    padding: 10px 2vw;
}

.linkcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}
.resumelink {
    padding: 10px 40px;
    background-color: green;
    border-radius: 5px;
}

.resumelink:hover {
    border: 1px solid green;
}

.infocontainer {
    height: fit-content;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.infocontainer span {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: start;
}

.resumeDetail {
    padding: 10px 2vw;
    display: flex;
    align-items: center;
}

.resumeDetail span:first-of-type {
    margin-right: 10px;
}

.resumeDetail span {
    width: auto;
    padding: 0;
}

.edu {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edu span {
    padding-left: 10px;
}

.edu span:nth-child(1) {
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
}

.edu span:nth-child(2) {
    font-size: 1.1rem;
}

.edu span:nth-child(3) {
    font-size: 1.1rem;
}

.edu span:nth-child(4) {
    font-style: italic;
}

.title span {
    padding: 0px 10px;
}

.title span:nth-child(1) {
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
}

.title span:nth-child(2) {
    font-size: 1.1rem;
}

.title span:nth-child(3) {
    font-style: italic;
}

@media screen and (max-width: 1300px) {
    .resumegrid {
        width: 70%;
    }
    .resumeBg {
        width: 70%;
    }
}


@media screen and (max-width: 760px) {
    .resumegrid {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .resumeBg {
        width: 100%;
    }
    .resumeDetail span {
        width: auto;
        padding: 0;
    }

    .infocontainer {
        grid-template-columns: 1fr;
    }
}

