.resume {
    display: flex;
    border: 2px solid var(--color-four);
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.resumegrid {
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
}

.resumecol {
    height: max-content;
    border: 1px solid red;
    justify-content: stretch;
    flex-direction: column;
}

.resumecol span {
    height: fit-content;
    padding: 10px 2vw;
}

.resumelink {
    border: 1px solid red;
}

.infocontainer {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.infocontainer span {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: start;
}

.resumeDetail {
    padding: 10px 2vw;
    display: flex;
    align-items: center;
}

.resumeDetail span:first-of-type {
    margin-right: 10px;
}

.resumeDetail span {
    width: auto;
    padding: 0;
}

.edu {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edu span:nth-child(1) {
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
}

.edu span:nth-child(2) {
    font-size: 1.1rem;
}

.edu span:nth-child(3) {
    font-size: 1.1rem;
}

.edu span:nth-child(4) {
    font-style: italic;
}

.title span {
    padding: 0px 10px;
}

.title span:nth-child(1) {
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
}

.title span:nth-child(2) {
    font-size: 1.1rem;
}

.title span:nth-child(3) {
    font-style: italic;
}



@media screen and (max-width: 760px) {
    .resumegrid {
        grid-template-columns: 1fr;
    }
    .resumeDetail span {
        width: auto;
        padding: 0;
    }

    .infocontainer {
        grid-template-columns: 1fr;
    }
}