.resume {
    display: flex;
    border: 2px solid var(--color-four);
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.resumeinfo {
    height: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.resumecol {
    border: 1px solid red;
}

.resumelink {
    border: 1px solid red;
}


@media screen and (max-width: 760px) {
    .resumeinfo {
        grid-template-columns: 1fr;
    }
}